.topBarAchievements{
    height: 50vh;
    width: 100%;
    background-image: url('/slider 3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
@media screen and (min-width: 992px) {
    .topBarAchievements h2{
        font-size: 5vh;
        font-weight: 700;
        padding-top: 5%;
        text-align: center;
    }
}
@media screen and (max-width: 991px) {
    .topBarAchievements h2{
        font-size: 5vh;
        font-weight: 700;
        padding-top: 8%;
        text-align: center;
    }
}
.topBarAchievements p{
    font-size: 2.5vh;
    font-weight: 600;
    width: 50%;
    text-align: center;
    margin: auto;
    margin-top: 1.5vh;
}

.achievementBox{
    position: relative;
    padding-top: 10vh;
    padding-bottom: 15vh;
}
.achievementBoxTitle{
    font-size: 5vh;
    margin-left: 11%;
    font-weight: 700;
    padding-bottom: 6vh;

}

@media screen and (min-width: 1024px) {
    .gallery{
        width: 78%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
        
    }
    .galleryBox{
        width: 31.5%;
        height: 47vh;
        position: relative;
        border-radius: 0.5vw;
        overflow: hidden;
        margin-bottom: 4vh;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .gallery{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
    }
    .galleryBox{
        width: 48%;
        height: 47vh;
        position: relative;
        border-radius: 0.5vw;
        overflow: hidden;
        background-color: red;
    }
}
@media screen and (max-width: 767px) {
    .gallery{
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: white;
    }
    .galleryBox{
        height: 47vh;
        position: relative;
        border-radius: 0.5vw;
        overflow: hidden;
        margin-bottom: 4vh;
    }
}
.galleryBox img{
    width: 100%;
    height: 100%;
}
.galleryText{
    position: absolute;
    bottom: 9%;
    left: 5%;
    background-color: white;
    height: 30%;
    width: 90%;
    border-radius: 0.4vh;
    padding-left: 5%;
    padding-top: 4%;
    transition: 0.3s ease-in-out;
    visibility: hidden;
}
.galleryText p{
    font-size: 2vh;
    font-weight: 600;
}
.galleryText h2{
    color: blue;
    font-size: 2.5vh;
    font-weight: 700;
}
.galleryBox:hover .galleryText{
    transform: translateY(1vh);
    visibility: visible;
}

.focusGallery{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
}
@media screen and (min-width: 992px) {
    .focusGalleryBox{
        width: 80vw;
        height: 80vh;
        margin: auto;
        background-color: white;
        display: flex;
        margin-top: 5%;
    }
    .focusGalleryBox img{
        width: 45%;
        height: 85%;
        margin-left: 3%;
    }
    .focusGalleryText{
        width: 50%;
        padding: 5vh 5vw;
    }
}
@media screen and (max-width: 991px) {
    .focusGalleryBox{
        width: 80vw;
        height: 90vh;
        margin: auto;
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    .focusGalleryBox img{
        width: 90%;
        height: 45%;
        margin: auto;
        margin-top: 2vh;
    }
    .focusGalleryText{
        width: 90%;
        height: 55%;
        margin: auto;
        margin-top: 5vh;
        
    }
}
.focusGalleryText h2{
    font-size: 3.5vh;
    font-weight: 600;
    margin-bottom: 1vh;
}
.focusGalleryText h3{
    font-weight: 600;
    margin-bottom: 2vh;
}