.admin-events-topbar{
    height: 45vh;
    width: 100%;
    background-image: url('/public/slider 2.jpg');
    position: relative;
}
.admin-events-topbar h2{
    text-align: center;
    font-size: 5vh;
    color: white;
    padding-top: 8vh;
    font-weight: 600;
}
@media screen and (min-width: 992px) {
    .admin-events-box{
        position: absolute;
        left:20vw;
        top:20vh;
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        margin-top: 5vh;
    }
    .admin-events{
        height: 27vh;
        width: 31%;
        background-color:white;
        border-radius: 1vw;
        margin-bottom: 4vh;
        padding-left: 2.8%;
        padding-top: 3%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 10px 0px 20px 5px rgba(0, 0, 0, 0.1);
        transition: linear 0.1s;
    }
    .admin-events Button{
        height: 4vh;
        width: 5vw;
        border-radius: 0.3vw;
        color:white;
        margin-top: 2.5vh;
        font-size: 2vh;
        background-color: rgba(0,0,255,0.6);
        transition: linear 0.1s;
    } 
}
@media screen and (max-width: 991px) {
    .admin-events-box{
        position: absolute;
        left:4vw;
        top:20vh;
        display: flex;
        flex-wrap: wrap;
        width: 92%;
        margin: auto;
        justify-content: space-between;
        margin-top: 5vh;
    }
    .admin-events{
        height: 27vh;
        width: 49%;
        background-color:white;
        border-radius: 1vw;
        margin-bottom: 4vh;
        padding-left: 2.8%;
        padding-top: 5%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 10px 0px 20px 5px rgba(0, 0, 0, 0.1);
        transition: linear 0.1s;
    }
    .admin-events Button{
        height: 4vh;
        width: 16vw;
        border-radius: 0.3vw;
        color:white;
        margin-top: 2.5vh;
        font-size: 2vh;
        background-color: rgba(0,0,255,0.6);
        transition: linear 0.1s;
    } 
}
.admin-events h2{
    font-size: 3vh;
    font-weight: 600;
}
.admin-events h3{
    font-size: 2.2vh;
    margin-bottom: 1vh;
}
.admin-events p{
    font-size: 1.8vh;
    color: rgba(0,0,0,0.6);
    font-weight: bold;
}

.admin-events:hover{
    background-color: rgba(240,240,240);
}
.admin-events Button:hover{
    background-color: rgba(0,0,0,0.6);
}
@media screen and (min-width: 992px) {
    .admin-events-add-box{
        height: 27vh;
        width: 31%;
        background-color:white;
        border-radius: 1vw;
        margin-bottom: 4vh;
        padding-top: 3%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 10px 0px 20px 5px rgba(0, 0, 0, 0.1);
        transition: linear 0.1s;
    }
    .admin-events-add-box .add-icon{
        color: rgba(0,0,255,0.6);
        font-size: 4vh;
        margin: auto;
        margin-top: 13%;
    }
}
@media screen and (max-width: 991px) {
    .admin-events-add-box{
        height: 27vh;
        width: 49%;
        background-color:white;
        border-radius: 1vw;
        margin-bottom: 4vh;
        padding-top: 3%;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 10px 0px 20px 5px rgba(0, 0, 0, 0.1);
        transition: linear 0.1s;
    }
    .admin-events-add-box .add-icon{
        color: rgba(0,0,255,0.6);
        font-size: 4vh;
        margin: auto;
        margin-top: 32%;
    }
}

.admin-events-add-box h2{
    text-align: center;
    font-size: 2.5vh;
    font-weight: 600;
    color: rgba(0,0,255,0.6);
    margin-top: 1vh;
}
.admin-events-add-box:hover{
    background-color: rgba(240,240,240);
}