@media screen and (min-width: 992px) {
    .userFilterBox{
        display: flex;
        justify-content: space-between;
        width: 33%;
        margin: auto;
        margin-top: 7vh;
    }
    .userFilter{
        width: 10vw;
        border: 1px solid black;
        font-weight: 600;
        padding-left: 1vw;
    }
}
@media screen and (max-width: 991px) {
    .userFilterBox{
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: auto;
        margin-top: 7vh;
    }
    .userFilter{
        width: 40%;
        border: 1px solid black;
        font-weight: 600;
        padding-left: 3vw;
    }
}

@media screen and (min-width: 992px) {
    .viewUserData{
        width: 90%;
        margin: auto;
        text-align: left;
        min-height: 45.8vh;
        margin-bottom: 5vh;
        
    }
    .adminpanelTable{
        margin-top: 5vh;
        width: 100%;
    }
}
@media screen and (max-width: 991px) {
    .viewUserData{
        width: 90%;
        margin: auto;
        text-align: left;
        min-height: 83vh;
        margin-bottom: 5vh;
        
    }
    .adminpanelTable{
        margin-top: 5vh;
        width: 100%;
        transform: rotate(90deg) translate(25vh,35vw)
    }
}
/*@media screen and (min-width: 992px) {
    .adminpanelTable tr{
        height: 5vh;
        
        display: flex;
        line-height: 4vh;
    }
}
@media screen and (max-width: 991px) {
    .adminpanelTable tr{
        height: 5vh;
        border:1px solid black;

    }
}*/
.teamName{
    background-color: rgba(255,0,0,0.3);
}
.universityName{
}
.userName{
    background-color: rgba(255,0,0,0.3);
}
.userId{

}
.userDept{
    background-color: rgba(255,0,0,0.3);
}
.userEmail{

}
.userPhone{

    background-color: rgba(255,0,0,0.3);
}