.contacts{
    background-color: white;
}
@media (min-width: 767px) {
    form input, form textarea{
        background-color: white;
        color:black;
        height:6vh;
        outline:none;
        border:none;
        margin-bottom:1.5vh;
        border-radius:5px;
    }
    .contactForm input{
        color: black;
        width: 40vw;
        border: 1px solid rgba(0,0,0,0.1);
    }
    .contactForm textarea{
        color: black;
        width: 40vw;
        height: 20vh;
        padding-left: 0.5vw;
        padding-top: 1vh;
        border: 1px solid rgba(0,0,0,0.1);
    }
    .contactForm Button{
        width: 40vw;
        font-weight: 600;
    
    }
}
@media (max-width: 767px) {
    form input, form textarea{
        background-color: white;
        color:black;
        height:5vh;
        width: 75vw;
        outline:none;
        border:none;
        margin-bottom:1.5vh;
        border-radius:5px;
    }
    .contactForm input{
        color: black;
        width: 75vw;
        border: 1px solid rgba(0,0,0,0.1);
    }
    .contactForm textarea{
        color: black;
        width: 75vw;
        height: 20vh;
        padding-left: 0.5vw;
        padding-top: 1vh;
        border: 1px solid rgba(0,0,0,0.1);
    }
    .contactForm Button{
        width: 75vw;
        font-weight: 600;
    
    }
}
