.footerBar {
    background-color: black;
    font-size: 2vh;
    height: 45vh !important;
    width: 100%;
    display: flex;
    padding: 3% 5%;
       
}
   .footer{
    position: relative;
   }
/* Footer.css */
 
  .design-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Places the Design component behind the content */
    /* Add any other styling you want for the particles */
  }
  .design-background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* Places the Design component behind the content */
    /* Add any other styling you want for the particles */
}

  
  /* Rest of your CSS for the Footer component */
  

.contact-info {
    margin-left: 1% !important;
}

.footer-heading {
    color: white;
    font-size: 3vh !important;
    margin: 3% !important;

}

.contact-icon:hover {
    transform: scale(1.1);
    transition: .1s ease;
}

.footer1Menu span:hover {
    transform: scale(1.05);
    transition: .1s ease;
}

@media screen and (min-width: 992px) {
    .footer1 {
        width: 100%;
        /* height: 40%; */
        display: flex;
        position: relative;
    }

    .footer1Menu {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }
}

@media screen and (max-width: 991px) {
    .footer1 {
        width: 92%;
        margin: auto;
        margin-bottom: 2vh;
        height: fit-content;
        position: relative;
        display: flex;
        justify-content: center;


    }

    .footer1Menu {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding-top: 8%;

    }
    .footer1Menu span{
        justify-content: center;
        margin: auto;
    }
}

.footer1::after {
    /* content: ""; */
    position: absolute;
    bottom: 0;
    left: 0vw;
    height: 0.1vh;
    background-color: rgba(255, 255, 255, 00.5);
    width: 100%;
}

.footer1Menu span {
    padding: 1vh;
    width: fit-content;
}

/*
.footer1Menu span:nth-child(1){
    border-left: 1px solid rgba(255,255,255,0.5);
} */

.footer1Menu a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

@media screen and (min-width: 992px) {

    /* .footer1 img{
        height: 80%;
        width: 10vw;
        margin: auto;
    } */
    .footer3 img {
        height: fit-content;
        width: 12vw;
        margin: auto;
        margin-bottom: 10%;
        position: relative;
        z-index: 2;
        
    }
}

@media screen and (max-width: 991px) {

    /* .footer1 img{
        height: 50%;
        margin: auto;
         margin-top: 10%; 
    } */
    .footer3 img {
        height: 50%;
        width: 20%;
        margin: auto;
        z-index: 2;
        position: relative;
    }
}

@media screen and (min-width: 992px) {
    .footer2 {
        width: 100%;
        /* height: 60%; */
        display: flex;
        position: relative;

    }

    .footer2contacts {
        width: 70%;
        margin: 1% !important;
        display: flex;
        flex-direction: column;
        color: white;
    }

    .footer2contacts div {
        margin-right: 2vw;
        padding: 1vh;
    }

    .footer2Menu {
        width: fit-content;
        display: flex;
    }

    .contact-link {
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 2;
    }

    .contact-icon {
        width: 4vw;
        height: 4vh;
    }

}

@media screen and (max-width: 991px) {
    .footerBar {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content !important;
    }

    .footer2 {
        /* height: 24vh;
        position: relative;
        padding-top: 2vh;
        display: flex; */
        width: 92%;
        margin: auto;
        /* padding: 2%; */
        height: 38vh;
        position: relative;
        display: flex;
        justify-content: space-between;
    }

    .footer2contacts {
        width: 70%;
        color: white;
        margin: auto;
        text-align: center;
        padding: 3vh;
        justify-content: center;
    }

    .footer2contacts p {
        margin-bottom: 0vh;
    }
    .footer2contacts div{
        padding: 1.5vh;
        margin: auto;
        text-align: center;
        justify-content: center;
    }

    .footer2Menu {
        width: fit-content;
        margin: auto;
        display: flex;
    }
}


.footer2Menu a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0;
}


@media screen and (min-width: 992px) {
    .footerIcons {
        margin-right: 0.5vw;
        margin-top: 0.6vh;
    }
}

@media screen and (max-width: 991px) {
    .footerIcons {
        margin-right: 0vw;
        margin-top: 0.6vh;
    }
    .footer3{
        margin: 3vh auto;
    }

    .contact-icon{
        width: 4vw;
        height: 4vh;
        margin: 1vw;
    }
}