@media screen and (min-width: 1024px) {
    .csGallery{
        height: 97vh;
        width: 100%;
        background-color: rgb(248,248,248);
    }
    .galTitle{
        text-align: center;
        font-size: 2.8vw;
        position: relative;
        padding-bottom: 2vh;
        padding-top: 10vh;
    }
    .galSubTitle{
        text-align: center;
        font-size: 1.2vw;
        color: rgba(0,0,0,0.7);
        font-weight: 600;
        width: 50%;
        margin: auto;
        margin-top: 3vh;
        margin-bottom: 8vh;
    }
    .galTitle::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 46vw;
        height: 0.3vh;
        background-color: blue;
        width: 7%;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .csGallery{
        background-color: rgb(248,248,248);
        height: 160vh;
        width: 100%;
    }
    .galTitle{
        text-align: center;
        font-size: 8vw;
        position: relative;
        padding-bottom: 2vh;
        padding-top: 10vh;
    }
    .galSubTitle{
        text-align: center;
        font-size: 4vw;
        color: rgba(20,20,20,0.6);
        font-weight: 600;
        margin-top: 3vh;
        margin-bottom: 6vh;
        
    }
    .galTitle::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 37.5vw;
        height: 0.3vh;
        background-color: blue;
        width: 26%;
    }
    
}
@media screen and (max-width: 767px) {
    .csGallery{
        background-color: rgb(248,248,248);
        height: 200vh;
        width: 100%;
    }
    .galTitle{
        text-align: center;
        font-size: 8vw;
        position: relative;
        padding-bottom: 2vh;
        padding-top: 10vh;
    }
    .galSubTitle{
        text-align: center;
        font-size: 4vw;
        color: rgba(20,20,20,0.6);
        font-weight: 600;
        margin-top: 3vh;
        margin-bottom: 6vh;
        
    }
    .galTitle::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 37.5vw;
        height: 0.3vh;
        background-color: blue;
        width: 26%;
    }
}
@media screen and (min-width: 1024px) {
    .imageCard{
        width: 31.5%;
        height: 50vh;
        background-color: black;
        border-radius: 0.5vw;
        overflow: hidden;
        font-size: 2vh;
        transition: linear 0.1s;
        
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .imageCard{
        width: 46%;
        height: 50vh;
        background-color: black;
        border-radius: 0.5vw;
        overflow: hidden;
        font-size: 2vh;
        margin-bottom: 3vh;
        text-align: center;
        transition: linear 0.1s;
    }
}
@media screen and (max-width: 767px) {
    .imageCard{
        width: 90%;
        height: 50vh;
        margin: auto;
        background-color: black;
        border-radius: 1vw;
        overflow: hidden;
        font-size: 2vh;
        margin-bottom: 3vh;
        text-align: center;
        transition: linear 0.1s;
    }
}
.imageCard:hover{
    transform: scale(1.1);
    box-shadow: 10px 0px 20px 5px rgba(0, 0, 0, 0.1);
}
.imageCard img{
    height: 70%;
    width: 100%;
}
.imageCardText{
    padding: 3.2vh 1.5vw;
}
.imageCardText p{
    margin-bottom: 1.2vh;
}