@media screen and (min-width: 992px) {
    .loginpage{
        /* background: url("../../public/slider 2.jpg"); */
        background-color:rgba(0,0,0,0.8); 
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        overflow:hidden;
        height:100vh;
        width:100vw;
    }

    .logfrm{
        background-color: rgba(0,0,0,0.8);
        width:28vw;
        height:65vh;
        text-align: center;
        margin:auto;
        margin-top:17vh;
        border-radius: 1vmin; 
    }
    .logfrm h2{
        color:white;
        text-align: center;
        padding-top:10%;
        margin-bottom:10%;
        font-size:5vmin;
    }
    .loginCreds{
        display:flex;
        /* border-bottom:1.5px solid #FFFFFF; */
        width:75%;
        margin:auto;
        height:7vh;
        text-align: left;
        margin-bottom: 6%;
        color:white;
        border: 1px solid white; 
        padding-left: 5px;
        padding-top: 3px;
    }
    .loginCredsIcons{
        font-size: 3vmin;
        transform: translateY(60%);
    }
    .logfrm input{
        color:white;
        border:none;
        outline: none;
        background-color: transparent;
        font-size: 2.5vh;
        width: 85%;
        padding-left: 5%;
    }
    .logfrm input::placeholder {
        color:#bbbbbb;
    }
    .logfrmbut{
        background-color: #ea580c;
        border:1px solid white;
        color:white;
        height:6vh;
        width:73%;
        font-size:2.5vh;
        font-weight: bold;
        margin-bottom: 2%;
        transition:linear 0.1s;

    }
    .frgtps{
        color:#dedede;
        font-size:1.8vh;
        margin-right: 41%;
    }
    .frgtps:hover{
        color:blue;
    }    
    .logToReg{
        color:#dedede;
        line-height: 10vh;
        font-size: 2.2vh;
        
    }
    .logToReg:hover{
        color:#d10000;
    }
    .logToDlog{
        color:#b5b3b3;
    }

}
@media screen and (max-width: 991px) {
    .loginpage{
        /* background: url("../../public/slider 2.jpg"); */
        background-color:rgba(0,0,0,0.8); 
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        overflow:hidden;
        height:100vh;
        width:100vw;
    }

    .logfrm{   
        background-color: rgba(0,0,0,0.8);
        width:80%;
        height:60vh;
        text-align: center;
        margin:auto;
        margin-top:20vh;
        border-radius: 1%;
    }

    .logfrm h2{
        color:white;
        text-align: center;
        padding-top:18%;
        margin-bottom:14%;
        font-size:2rem;
    }
    .loginCreds{
        display:flex;
        border-bottom:1.5px solid #FFFFFF;
        width:80%;
        margin:auto;
        height:6vh;
        text-align: left;
        margin-bottom: 6%;
        color:white;
    }

    .loginCredsIcons{
        font-size: 5vmin;
        transform: translateY(60%);
    }
    .logfrm input{
        color:white;
        padding-left: 4%;
        border:none;
        outline: none;
        background-color: transparent;
        font-size: 1rem;
    }
    .logfrm input::placeholder {
        color:#bbbbbb;
    }
    .logfrmbut{
        background-color: blue;
        border:1px solid white;
        color:white;
        height:2.7rem;
        width:80%;
        font-size:1.2rem;
        font-weight: bold;
        margin-bottom: 2%;

    }
    .frgtps{
        color:#dedede;
        font-size:0.9em;
        margin-right: 45%;
    }
    .frgtps:hover{
        color:blue;
    }    
    .logToReg{
        color:#dedede;
        line-height: 10vh;
        
    }
    .logToReg:hover{
        color:#d10000;
    }
}



.logfrmbut:hover{
    background-color: #ffffff;
    color:black;
}
.logfrmbut:active{
    background-color: #ffffff;
    color:black;
    box-shadow:6px 5px 15px #000000;
}
.logfrm p{
    font-size:2vh;
    color:red;
    width:100%;
    margin-top:5%;
}