.navbar{
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: black;
    position: relative;
    z-index: 100;
    transition: 0.1s;
}
.navbarSticky{
    position: fixed;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    transition: 0.1s;
}
.navImageBar{
    /* width: 33vw; */
}
@media screen and (min-width: 1024px) {
    .navImageBar img{
        height: 80%;
        width: 35%;
        margin-left: 5vw;
        margin-top: 0.4vw;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .navImageBar img{
        height: 80%;
        width: 40%;
        margin-top: 1vw;
        margin-left:5vw;
    }
}
@media screen and (max-width: 767px) {
    .navImageBar img{
        height: 80%;
        width: 50%;
        margin-top: 1vw;
        margin-left:5vw;
    }
}
.navMenuBar{
    height: 100%;
    overflow: hidden;
}
.navMenuSubBar{
    height: 100%;
    color:black;
    color: white;
    background-color: black;
    justify-content:right;
    /* background-color: rgba(0,0,255,0.4); */
    
}
@media screen and (min-width: 1024px) {
    .navLeftBarButton{
        visibility: hidden;
    }
    .desktopMenu{
        margin-right: 6vw;
    }
    .desktopMenu Button{
        margin: 0 0.1vw;
        transition: ease-in-out 0.1s;
        transform: translateX(-4vw);
    }
    .desktopMenu Button:hover{
        background-color: white;
        color:black;
    }
}
@media screen and (max-width: 1023px) {
    .navLeftBarButton{
        transform: translateX(-3vw);
    }
    .desktopMenu{
        visibility: hidden;
    }
    .mobileNavSideBar{
        width: 50vw;
        height: 100%;
        background-color: black;
        color: white;
    }
}