.navbar{
    height: 10vh;
    display: flex;
    background-color: black;
}
.navImageBar{
    width: 33vw;
}
@media screen and (min-width: 992px) {
    .navImageBar img{
        height: 110%;
        width: 50%;
        margin: auto;
        transform: scaleY(2);
    }
}
@media screen and (max-width: 991px) {
    .navImageBar img{
        height: 110%;
        width: 70%;
        transform: scaleY(2);
    }
}
.navMenuBar{
    height: 100%;
    overflow: hidden;
    
}
.navMenuSubBar{
    height: 100%;
    color:black;
    background-color: white;
    color: white;
    background-color: black;
}
@media screen and (min-width: 992px) {
    .navLeftBarButton{
        visibility: hidden;
    }
}
@media screen and (max-width: 992px) {
    .navLeftBarButton{
        transform: translateX(-10vw);
    }
    .desktopMenu{
        visibility: hidden;
    }
}