html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
.navbar{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.navImageBar{
    width: 30vw;
}
.menu-items{
    margin-right: 0;
    padding-right: 0;
    display: flex;
    justify-content: flex-end;
    padding: 0;
    width: fit-content;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: rgba(0, 0, 0, 0.581);

}
.side-menu{
    background-color: rgba(0, 0, 0);
}
.side-menu li{
    color: white;
}
@media screen and (min-width: 992px) {
    .navImageBar img{
        height: 100%;
        /* width: 40%; */
        transform: scaleY(0.9);
        margin-left: 1.5%;
    }
}
@media screen and (max-width: 991px) {
    .navImageBar img{
        height: 110%;
        /* width: 70%; */
        transform: scaleY(0.9);
    }
    .menu-items{
        width: 10%;
    }
}
.navMenuBar{
    height: 100%;
    justify-content: flex-end;
    overflow: hidden;
    
    
}
.navMenuSubBar{
    height: 100%;
    color:black;
    background-color: white;
    color: white;
    background-color: black;
    justify-content: center;
}
@media screen and (min-width: 992px) {
    .navLeftBarButton{
        visibility: hidden;
    }
}
@media screen and (max-width: 992px) {
    .navLeftBarButton{
        transform: translateX(-10vw);
    }
    .desktopMenu{
        visibility: hidden;
    }
}