@media screen and (min-width: 992px) {
    .sponsors {
        height: 55vh;
        width: 70%;
        background-image: url('https://scontent.fdac134-1.fna.fbcdn.net/v/t39.30808-6/244508505_4561259637245951_6949486535260803947_n.jpg?stp=dst-jpg_p960x960&_nc_cat=104&ccb=1-7&_nc_sid=52f669&_nc_eui2=AeHYOMmKEXdSdms10Vyx4hjrS6g8DCbqPihLqDwMJuo-KGtA1SXpsF5F3ytyH859TPLRVV6EDiZFhtR6P-z0WfiF&_nc_ohc=3rEsKGIYN3oAX_i9uMA&_nc_ht=scontent.fdac134-1.fna&cb_e2o_trans=q&oh=00_AfAhfVjA_At0a99NY-9ZajfPbEAuBUmsLTW28We7JDawmg&oe=6514AE1A');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        overflow-y: hidden;
        background-color: rgb(248,248,248);
    }
}
@media screen and (max-width: 991px) {
    .sponsors {
        height: 55vh;
        width: 90%;
        margin: auto;
        background-image: url('https://scontent.fdac134-1.fna.fbcdn.net/v/t39.30808-6/244508505_4561259637245951_6949486535260803947_n.jpg?stp=dst-jpg_p960x960&_nc_cat=104&ccb=1-7&_nc_sid=52f669&_nc_eui2=AeHYOMmKEXdSdms10Vyx4hjrS6g8DCbqPihLqDwMJuo-KGtA1SXpsF5F3ytyH859TPLRVV6EDiZFhtR6P-z0WfiF&_nc_ohc=3rEsKGIYN3oAX_i9uMA&_nc_ht=scontent.fdac134-1.fna&cb_e2o_trans=q&oh=00_AfAhfVjA_At0a99NY-9ZajfPbEAuBUmsLTW28We7JDawmg&oe=6514AE1A');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; 
        overflow-y: hidden;
    }
}
.sponsorsSubBar{
    width: 100%;
    height: 55vh;
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
    -webkit-backdrop-filter: blur(5px); /* For older versions of Safari */
}
.sponsorsTitle{
    color: rgba(0,0,0);
    font-size: 4.5vh;
    text-align: center;
    padding-top: 10vh;
    margin-bottom: 4vh;
}
.slider{
    transform: translate(1vw,2vh);
}
@media screen and (min-width: 992px) {
    .imgBar {
        width: 12vw;
        height: 100%;
        margin: 0 3vw;
        display: flex;
        align-items: center;
        justify-content: center; /* Center the image horizontally and vertically */
        
    }
}
@media screen and (max-width: 991px) {
    .imgBar {
        width: 50vw;
        height: 100%;
        margin: 0 10vw;
        display: flex;
        align-items: center;
        justify-content: center; /* Center the image horizontally and vertically */
        overflow-y: hidden;
    }
}
  
.imgBar img {
    max-width: 100%; /* Ensure the image doesn't exceed its parent's width */
    max-height: 100%; /* Ensure the image doesn't exceed its parent's height */
    height: auto; /* Maintain the image's aspect ratio */
    width: 100%;
}
.slider{
    overflow: hidden;
}

.slider::-webkit-scrollbar {
    width: 0;
  }
  
  /* Optional: Hide the horizontal scrollbar as well */
.slider::-webkit-scrollbar-horizontal {
    display: none;
  }
  
  /* Optional: Customize the scrollbar track */
.slider::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Optional: Customize the scrollbar thumb (the draggable part) */
.slider::-webkit-scrollbar-thumb {
    background: none;
  }
  
  
  
  