.sponsors {
    height: 55vh;
    background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    display: flex;
    overflow-y: hidden;
}
.slider{
    transform: translateY(1.5vh);
}
@media screen and (min-width: 992px) {
    .imgBar {
        width: 12vw;
        height: 100%;
        margin: 0 3vw;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center; /* Center the image horizontally and vertically */
    }
}
@media screen and (max-width: 991px) {
    .imgBar {
        width: 50vw;
        height: 100%;
        margin: 0 10vw;
        background-color: blue;
        display: flex;
        align-items: center;
        justify-content: center; /* Center the image horizontally and vertically */
        overflow-y: hidden;
    }
}
  
.imgBar img {
    max-width: 100%; /* Ensure the image doesn't exceed its parent's width */
    max-height: 100%; /* Ensure the image doesn't exceed its parent's height */
    height: auto; /* Maintain the image's aspect ratio */
    width: 100%;
}

.slider::-webkit-scrollbar {
    width: 0;
  }
  
  /* Optional: Hide the horizontal scrollbar as well */
.slider::-webkit-scrollbar-horizontal {
    display: none;
  }
  
  /* Optional: Customize the scrollbar track */
.slider::-webkit-scrollbar-track {
    background: none;
  }
  
  /* Optional: Customize the scrollbar thumb (the draggable part) */
.slider::-webkit-scrollbar-thumb {
    background: none;
  }
  
  
  
  